.Wrapper {
    border: 2px solid black;
    padding: 20px;
    text-transform: uppercase;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    margin: 40px auto;
    max-width: 600px;
    border-radius: 10px;
    text-align: center;
}

.Wrapper__title {
    font-size: 24px;
}